@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.eot');
  src: url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.eot?iefix') format('eot'), url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.woff') format('woff'), url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.svg#webfont') format('svg'); }

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px); }

  to {
    -webkit-transform: translateY(-2rem); } }

@keyframes bounce {
  from {
    transform: translateY(0px); }

  to {
    transform: translateY(-2rem); } }

@-webkit-keyframes bounce-bread {
  from {
    -webkit-transform: translateY(0px); }

  to {
    -webkit-transform: translateY(-1rem); } }

@keyframes bounce-bread {
  from {
    transform: translateY(0px); }

  to {
    transform: translateY(-1rem); } }

@-webkit-keyframes bounce-bread-bottom {
  from {
    -webkit-transform: translateY(0px); }

  to {
    -webkit-transform: translateY(1rem); } }

@keyframes bounce-bread-bottom {
  from {
    transform: translateY(0px); }

  to {
    transform: translateY(1rem); } }

.ingredients {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 1.8rem;
  color: #232323;
  list-style: none;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  position: relative;
  background-position: 50% 58%;
  background-size: 120px;
  background-repeat: no-repeat; }
  .ingredients li:first-child {
    margin-top: 1rem; }
  .ingredients li:last-child {
    margin-bottom: 1rem; }
  .ingredients.animate li {
    transition: all 0.2s ease; }
    .ingredients.animate li:nth-child(0) {
      transition-delay: 0s; }
    .ingredients.animate li:nth-child(1) {
      transition-delay: 0.05s; }
    .ingredients.animate li:nth-child(2) {
      transition-delay: 0.1s; }
    .ingredients.animate li:nth-child(3) {
      transition-delay: 0.15s; }
    .ingredients.animate li:nth-child(4) {
      transition-delay: 0.2s; }
    .ingredients.animate li:nth-child(5) {
      transition-delay: 0.25s; }
    .ingredients.animate li:nth-child(6) {
      transition-delay: 0.3s; }
    .ingredients.animate li:nth-child(7) {
      transition-delay: 0.35s; }
    .ingredients.animate li:nth-child(8) {
      transition-delay: 0.4s; }
  .ingredients.animate:before {
    -webkit-animation: bounce-bread 0.2s 2 alternate ease;
    animation: bounce-bread 0.2s 3 alternate ease; }
  .ingredients.animate:after {
    -webkit-animation: bounce-bread-bottom 0.2s 2 alternate ease;
    animation: bounce-bread-bottom 0.2s 3 alternate ease; }
  .ingredients:before {
    content: " ";
    display: block;
    height: 5.3rem;
    background-color: #232323;
    border-radius: 100%/10rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
  .ingredients:after {
    content: " ";
    display: block;
    height: 2.5rem;
    background-color: #232323;
    border-radius: 0.5rem; }
  @media all and (min-width: 420px) and (max-width: 620px) {
    .ingredients:before {
      border-radius: 100%/200%;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      height: 6rem; }

    .ingredients:after {
      height: 2.8rem; }
 }
  @media all and (min-width: 620px) {
    .ingredients {
      font-size: 3rem;
      margin-top: 4rem;
      background-size: 180px; }
      .ingredients li:first-child {
        margin-top: 2rem; }
      .ingredients li:last-child {
        margin-bottom: 2rem; }
      .ingredients:before {
        height: 7rem;
        border-radius: 100%/200%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; }
      .ingredients:after {
        height: 3.2rem; } }

.options {
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  line-height: 1.66667rem;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: italic; }
  .options input[type=checkbox] {
    position: absolute;
    display: inline-block;
    z-index: 9;
    opacity: 0;
    height: 2.5rem;
    width: 2.5rem; }
    .options input[type=checkbox]:checked + label:before {
      color: #232323; }
    .options input[type=checkbox]:hover + label:before {
      border-color: #232323; }
  .options label {
    position: relative;
    z-index: 8;
    font-size: 1rem;
    padding-left: 4.13333rem;
    line-height: 2.5rem;
    display: inline-block; }
    .options label:before {
      color: #f7f7f7;
      content: "X";
      position: absolute;
      left: 0;
      top: 0;
      border: 0.3rem solid transparent;
      margin-right: 1.33333rem;
      background-color: #f7f7f7;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      font-family: 'Bebas Neue', sans-serif;
      transition: all 0.15s ease;
      font-size: 2rem;
      font-style: normal; }
  @media all and (min-width: 620px) {
    .options label {
      font-size: 1.4rem; }
 }

html, body {
  width: 100%; }

body {
  background-color: #ffe138;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px; }

input, button {
  outline: none;
  background-color: #f7f7f7;
  border: none;
  border-radius: 0; }

header {
  color: #f7f7f7;
  background-color: #232323;
  width: 100%;
  padding-bottom: 2rem; }
  header div {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: 1px solid #f7f7f7;
    max-width: 90%;
    margin: 0 auto; }
  header img {
    width: 18rem;
    max-width: 100%; }
  header p {
    max-width: 35rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0 1rem;
    font-size: 1rem; }

section {
  display: block;
  padding-top: 2rem;
  max-width: 35rem;
  width: 100%;
  margin: 0 auto; }
  section h2, section button {
    border-radius: 1rem;
    line-height: 5rem;
    font-size: 1rem;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-style: italic; }
  section h2 {
    width: 90%;
    max-width: 25rem;
    margin: 0 auto;
    background-color: #232323;
    color: #f7f7f7;
    position: relative; }
    section h2:after {
      content: " ";
      display: block;
      border: 1.8rem solid transparent;
      border-right-width: 1.2rem;
      border-left-width: 1.2rem;
      border-top-color: #232323;
      left: 50%;
      margin-left: -1.2rem;
      margin-top: -2px;
      position: absolute; }
  section button {
    max-width: 25rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    transition: all 0.15s ease; }
    section button:hover {
      background-color: #232323;
      color: #f7f7f7; }
  section img {
    margin-top: 2rem;
    max-width: 90%; }

footer {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 5rem; }
  footer a {
    transition: opacity 0.15s ease;
    opacity: 1; }
    footer a:hover {
      opacity: 0.6; }

@media all and (min-width: 620px) {
  header, section {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  header p {
    margin-bottom: 1rem;
    margin-top: 2rem; }

  header p, section h2, section button {
    font-size: 1.4rem; }

  section {
    padding-top: 3rem; }
 }
