@import "partials/base";
@import "modules/ingredients";
@import "modules/options";

html, body {
  width: 100%;
}

body {
  background-color: $yellow;
  text-align: center;
  @include serif();
  font-size: 20px;
}

// header, section, footer {
//   padding: $space-1;
// }

input, button {
  outline: none;
  background-color: $white;
  border: none;
  border-radius: 0;
}

header {
  color: $white;
  background-color: $grey;
  width: 100%; // fix ios
  padding-bottom: $space-2;

  div {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: 1px solid $white;
    max-width: 90%;
    margin: 0 auto;
  }

  img {
    width: 18rem;
    max-width: 100%;
  }

  p {
    max-width: $content-max;
    margin: 0 auto;
    margin-top: $space-1 * 1.5;
    padding: 0 $space-1;
    font-size: $font-size-mobile;
  }
}

section {
  display: block;
  padding-top: $space-2;
  max-width: $content-max;
  width: 100%;
  margin: 0 auto;

  h2, button {
    border-radius: $border-radius;
    line-height: $box-height;
    font-size: $font-size-mobile;
    @include serif();
    font-weight: 400;
    font-style: italic;
  }

  h2 {
    width: 90%;
    max-width: 25rem;
    margin: 0 auto;
    background-color: $grey;
    color: $white;
    position: relative;
    // -webkit-animation: bounce 1s infinite alternate;
    // animation: bounce 1s infinite;

    $arrow-size: 1.8rem;
    &:after {
      content: " ";
      display: block;
      border: $arrow-size solid transparent;
      border-right-width: $arrow-size / 1.5;
      border-left-width: $arrow-size / 1.5;
      border-top-color: $grey;
      left: 50%;
      margin-left: - $arrow-size / 1.5;
      margin-top: -2px; // fix ios gap
      position: absolute;
    }
  }

  button {
    max-width: 25rem;
    width: 90%;
    margin: 0 auto;
    margin-top: $space-4;
    @include transition();

    &:hover {
      background-color: $grey;
      color: $white;
    }
  }

  img {
    margin-top: $space-2;
    max-width: 90%;

  }
}

footer {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding-top: $space-2;
  padding-bottom: $space-5;

  a {
    @include transition(opacity);
    opacity: 1;

    &:hover {
      opacity: 0.6;
    }
  }
}

@media all and (min-width: 620px) {
  header, section {
    padding-top: $space-2;
    padding-bottom: $space-2;
  }

  header p {
    margin-bottom: $space-1;
    margin-top: $space-2;
  }

  header p, section h2, section button {
    font-size: $font-size-normal;
  }

  section {
    padding-top: $space-3;
  }
}