$yellow: #ffe138;
$grey: #232323;
$white: #f7f7f7;

$content-max: 35rem;

$box-height: 5rem;
$border-radius: 1rem;
$font-size-normal: 1.4rem;
$font-size-mobile: 1rem;

$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;

@mixin serif() {
  font-family: 'Arvo', serif;
}

@mixin sans-serif() {
  font-family: 'Bebas Neue', sans-serif;
}

@mixin transition($property: all, $duration: 0.15s) {
  transition: $property $duration ease;
}

@font-face{ 
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.eot');
  src: url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.eot?iefix') format('eot'),
       url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.woff') format('woff'),
       url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.ttf') format('truetype'),
       url('../fonts/bebasneue_regular_swedish/BebasNeue-webfont.svg#webfont') format('svg');
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translateY(0px); }
  to { -webkit-transform: translateY(- $space-2); }
}

@keyframes bounce {
  from { transform: translateY(0px); }
  to { transform: translateY(- $space-2); }
}

@-webkit-keyframes bounce-bread {
  from { -webkit-transform: translateY(0px); }
  to { -webkit-transform: translateY(- $space-1); }
}

@keyframes bounce-bread {
  from { transform: translateY(0px); }
  to { transform: translateY(- $space-1); }
}

@-webkit-keyframes bounce-bread-bottom {
  from { -webkit-transform: translateY(0px); }
  to { -webkit-transform: translateY($space-1); }
}

@keyframes bounce-bread-bottom {
  from { transform: translateY(0px); }
  to { transform: translateY($space-1); }
}