.ingredients {
  max-width: 80%;
  margin: 0 auto;
  margin-top: $space-3;
  font-size: 1.8rem;
  color: $grey;
  list-style: none;
  padding: 0;
  @include sans-serif();
  position: relative;
  background-position: 50% 58%;
  background-size: 120px;
  background-repeat: no-repeat;

  li {
    &:first-child {
      margin-top: $space-1;
    }

    &:last-child {
      margin-bottom: $space-1;
    }
  }

  &.thinking {


  }

  &.animate {
    li {
      @include transition(all, 0.2s);

      @for $i from 0 through 8 {
        &:nth-child(#{$i}) {
          transition-delay: 0.05s * $i;
        }
      }
    }

    &:before {
      -webkit-animation: bounce-bread 0.2s 2 alternate ease;
      animation: bounce-bread 0.2s 3 alternate ease;
    }

    &:after {
      -webkit-animation: bounce-bread-bottom 0.2s 2 alternate ease;
      animation: bounce-bread-bottom 0.2s 3 alternate ease;
    }
  }

  $burger-radius-large: 500rem;
  $burger-radius-small: 0.5rem;
  &:before {
    content: " ";
    display: block;
    height: 5.3rem;
    background-color: $grey;
    border-radius: 100% / 10rem;
    border-bottom-left-radius: $burger-radius-small;
    border-bottom-right-radius: $burger-radius-small;
  }

  &:after {
    content: " ";
    display: block;
    height: 2.5rem;
    background-color: $grey;
    border-radius: $burger-radius-small;
  }

  @media all and (min-width: 420px) and (max-width: 620px) {
    &:before {
      border-radius: 100% / 200%;
      border-bottom-left-radius: $burger-radius-small;
      border-bottom-right-radius: $burger-radius-small;
      height: 6rem;
    }

    &:after {
      height: 2.8rem;
    }
  }

  @media all and (min-width: 620px) {
    font-size: 3rem;
    margin-top: $space-4;
    background-size: 180px;


    li {
      &:first-child {
        margin-top: $space-2;
      }

      &:last-child {
        margin-bottom: $space-2;
      }
    }

    &:before {
      height: 7rem;
      border-radius: 100% / 200%;
      border-bottom-left-radius: $burger-radius-small;
      border-bottom-right-radius: $burger-radius-small;
    }

    &:after {
      height: 3.2rem;
    }
  }
}