.options {
  margin-top: $space-3;
  margin-bottom: $space-1;
  height: $box-height / 2;
  line-height: $box-height / 3;
  @include serif();
  font-weight: 400;
  font-style: italic;

  input[type=checkbox] {
    position: absolute;
    display: inline-block;
    z-index: 9;
    opacity: 0;
    height: $box-height / 2;
    width: $box-height / 2;

    &:checked + label:before {
      color: $grey;
    }

    &:hover + label:before {
      border-color: $grey;
    }
  }

  $label-gap: $space-2 / 1.5;
  $checkbox-border: 0.3rem;
  label {
    position: relative;
    z-index: 8;
    font-size: $font-size-mobile;
    padding-left: $box-height / 2 + $checkbox-border + $label-gap;
    line-height: $box-height / 2;
    display: inline-block;

    &:before {
      color: $white;
      content: "X";
      position: absolute;
      left: 0;
      top: 0;
      border: $checkbox-border solid transparent;
      margin-right: $label-gap;
      background-color: $white;
      display: inline-block;
      width: $box-height / 2;
      height: $box-height / 2;
      @include sans-serif;
      @include transition;
      font-size: 2rem;
      font-style: normal;
    }
  }

  @media all and (min-width: 620px) {
    label {
      font-size: $font-size-normal;
    }
  }
}